@import 'tailwindcss';

@theme extend {
  --color-brand-accent: var(--color-accent-800);
  --color-brand-surface-1: var(--color-surface-1);
  --color-brand-surface-2: var(--color-surface-2);
  --color-brand-elements: var(--color-elements);
  --color-brand-icons: var(--color-icons);
  --color-brand-secondary: var(--color-secondary);
  --color-brand-white: var(--color-white);
  --color-brand-black: var(--color-design-black-700);
  --color-brand-green: var(--color-green);
  --color-brand-red: var(--color-red);
  --color-brand-accent-600: var(--color-accent-600);

  --color-product-space-gray: var(--color-spacegray);
  --color-product-silver: var(--color-silver);
  --color-product-gold: var(--color-gold);
  --color-product-blue: var(--color-blue);
  --color-product-red: var(--color-red);
  --color-product-black: var(--color-design-black-500);
  --color-product-green: var(--color-green);
  --color-product-yellow: var(--color-yellow);
  --color-product-white: var(--color-white);
  --color-product-purple: var(--color-accent);

  --font-sans: var(--font-custom), sans-serif;

  .swiper-pagination-bullet {
    @apply bg-[#905BFF] opacity-50 w-[10px] h-[10px] mx-[6px] rounded-full transition duration-300;
  }
  .swiper-pagination-bullet-active {
    @apply opacity-100 bg-[#323542] scale-110;
  }
}

:root {
  --color-white: #f1f2f9;
  --color-design-black-700: #0f1121;
  --color-accent-800: #905bff;
  --color-accent-600: #a378ff;
  --color-secondary: #75767f;
  --color-icons: #4a4d58;
  --color-elements: #3b3e4a;
  --color-surface-1: #161827;
  --color-surface-2: #323542;
  --color-green: #27ae60;
  --color-red: #eb5757;

  --color-silver: #e3e4e5;
  --color-spacegray: #54585a;
  --color-gold: #f9e5c9;
  --color-blue: #215273;
  --color-design-black-500: #1d1d1f;
  --color-green: #27ae60;
  --color-yellow: #ffe066;
  --color-midnightgreen: #4e5b55;
}

html,
body {
  height: 100%;
}

body {
  background: var(--color-brand-black);
  color: var(--color-brand-white);
}
